.container_index {
  display: flex;
  flex-direction: column;
  background-color: rgba(196, 140, 140, 0.37);
  box-shadow: 2px 2px 3px 1px rgb(37, 29, 29);
  text-align: center;
  align-items: center;
}

.title { 
  margin-top: 112px;
}

.list {
  margin-top: 117px;
}

.AllLi {
  list-style: none;
}

.theLink {
  text-decoration: none;
  color: rgb(27, 20, 12);
}